
{% extends "base.html" %}

{% block content %}

<div class="max-w-md mx-auto bg-slate-800 p-8 rounded-2xl">

<h1 class="text-3xl font-bold mb-6 text-center">Login</h1>

<form method="POST" class="space-y-4">

<input type="email" name="email" placeholder="Email"
class="w-full p-3 rounded-xl bg-slate-900">

<input type="password" name="password" placeholder="Password"
class="w-full p-3 rounded-xl bg-slate-900">

<button class="w-full bg-cyan-500 p-3 rounded-xl">
Login
</button>

</form>

<p class="mt-5 text-center">
<a href="{{ url_for('signup') }}" class="text-cyan-400">
Create Account
</a>
</p>

</div>

{% endblock %}
